# Perfil de producción
SPRING_PROFILES_ACTIVE=prod

# AWS RDS PostgreSQL / PostGIS
SPRING_DATASOURCE_URL=jdbc:postgresql://cocheraya-db.c8p2qqcyioli.us-east-1.rds.amazonaws.com:5432/cocheraya
SPRING_DATASOURCE_USERNAME=cocheraya_admin
SPRING_DATASOURCE_PASSWORD=reemplaza_con_la_contrasena_del_servidor

# JWT
APP_JWT_SECRET=reemplaza_con_el_secreto_del_servidor_de_al_menos_64_caracteres
APP_JWT_EXPIRATION=86400000

# CORS
CORS_ALLOWED_ORIGINS=*

# Zona horaria
TZ=America/Lima
